:root {
    --game-border: 3px solid rgba(0, 0, 0, 0.637);
    --header-footer-border: 3px solid rgba(36, 36, 36, 0.753);
    --main-box-shadow: 0 5px 5px rgba(36, 36, 36, 0.753);
    --main-color: rgba(36, 36, 36, 0.753);
}

body, button {
    margin: 0;
    font-family: 'Poor Story', cursive;
    font-weight: bolder;
    color: var(--main-color);
    overflow-x: hidden;
}

.background {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

#header {
    font-size: 2em;
    margin-bottom: 75px;
    padding: 10px;
}

#info {
    position: relative;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

#back {
    padding: 10px;
    font-size: 1.3em;
    border: var(--game-border);
    float: left;
    position: absolute;
}
#back:hover {
    cursor: pointer;
}
#currentPlace {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
}

/* main app area */

#cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 75%;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
}
.card {
    border: var(--game-border);
    padding: 0 5px 5px 0;
    font-size: 1.5em;
    box-shadow: var(--main-box-shadow);
}
.card:hover {
    cursor: pointer;
}

#closeCard, #closeCat {
    position: absolute;
    top: 2%;
    right: 10%;
    width: 15px;
    height: 15px;
    z-index: 0;
    font-size: .8em;
    border: var(--game-border);
    border-radius: 200%;
    padding: 5px 5px 10px 5px;
    text-align: center;
    box-shadow: var(--main-box-shadow);
}

.removeButton {
    position: relative;
    background-color: rgba(255, 0, 0, 0.568);
    top: -50%;
    right: 10%;
    width: 15px;
    height: 15px;
    z-index: 0;
    font-size: .8em;
    border: var(--game-border);
    border-radius: 200%;
    padding: 1px 1px 5px 1px;
    text-align: center;
    box-shadow: var(--main-box-shadow);
}
.removeButton:hover {
    cursor: pointer;
    scale: 1.09;
}

#closeCard:hover, #closeCat:hover {
    cursor: pointer;
}
.add {
    scale: 1.07;
}
.add:hover {
    scale: 1.09;
}
.numberRound {
    position: relative;
    top: 0;
    left: 40%;
    width: 15px;
    height: 15px;
    z-index: 0;
    font-size: .8em;
    border: var(--game-border);
    border-radius: 200%;
    padding: 5px;
    box-shadow: var(--main-box-shadow);
}
.numberRound:hover {
    scale: 1.08;
}
.swipeRight {
    animation: swipeRight .4s 1;
    animation-fill-mode: forwards;
}
.swipeLeft {
    animation: swipeLeft .4s 1;
    animation-fill-mode: forwards;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
fieldset label {
    flex-direction: column;
    align-items: left;
}
#categoryForm, #cardForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 2em;
    background-color: rgba(98, 201, 192, 0.85);
    border: var(--game-border);
    padding: 25px;
}

/* Animations */
@keyframes swipeRight {
    0% { left: 25%; }
    100% { left: 150% }
}
@keyframes swipeLeft {
    0% { left: 130%; }
    100% { left: 25%; }
}